langchain
langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community

langserve
fastapi
uvicorn
sse_starlette
pypdf
PyPDF2
faiss-cpu
langchain_huggingface
wikipedia

tqdm
nltk
groq
pandas
requests
python-docx
unstructured
beautifulsoup4
langchain_groq
google-generativeai
sentence-transformers
sentence_transformers
